<div class="row">
    {{#each documento }}
        <div class="col-md-6" >
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title">{{ NoEmpleado }}</h1>
                </div>
            </div>
        </div>
    {{/each}}
    <p>
        <div class="form.group">
            <a href="http://localhost:3000/files/add" class="btn btn-primary btn-lg">Agregar Nuevos Documentos</a>    
        </div>
    </p> 
</div>