        <div class="card">
            <div class="card-body">
                <h1><strong>About</strong></h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum expedita vel optio ipsam consequuntur asperiores aliquam cum vero hic enim debitis aliquid, 
                reiciendis commodi quisquam, nisi tenetur ullam veritatis sint!</p>
            </div>
        </div>