  <!-- Utilizamos el codigo de abajo para poner un jumbotron ya que para la fecha
  se sigue migrando de la version 4 a la version 5 de Bootstrap -->
  <style >
      .jumbotron {
        padding: 1rem 1rem;
        margin-bottom: 2rem;
        background-color:  #ffff;
        border-radius: .3rem;  
      }
  </style>
  


  <div class="jumbotron mt-4">
  <h1 class="display-4"> <strong>Re!-Corre</strong></h1>
  <p class="lead">Portal a prueba</p>
  <hr class="my-4">
  <p>Este es un portal de prueba para gestionar la informaci칩n de los empleados</p>
   <!--Menu -->
<div class="dropdown-child" align="center">
    <a href="http://localhost:3000/Users/signin" class="btn btn-primary btn-lg" >Iniciar Sesi칩n</a> 
    <a href="http://localhost:3000/Users/signup" class="btn btn-primary btn-lg">Registrarse</a> 
    
  </div>
</div>
<div align="center">
  <label for=""><strong> Si quieres saber m치s sobre nosotros por favor da clic en el bot칩n </strong></label><br>
     <a href="http://recorre.mx" class="btn btn-primary btn-lg">Re!-Corre</a> <br> <br>
   <img src="https://mx.habcdn.com/photos/business/gallery/re-corre_11709.jpg" alt="">
  </div>
  </div>