*
{
    box-sizing: border-box;
}
body {
    background: #2980B9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #6DD5FA, #2980B9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

td {
    font-size: 15px;
    line-height: 20px;
    padding: 0 20px;
    text-align: justify;
    vertical-align: top;
    width: 50%;
}

td.first {
    border-right: 5px solid #000000  ;
}
.dropdown-child {
   
    background-color: rgb(255, 255, 255);
    min-width: 200px;
}

.dropdown-child a {
color:rgb(255, 255, 255);
    padding: 10px;
    text-decoration:rgb(72, 209, 125);
    display:inline-block;
}